<!DOCTYPE html>
<html>
<!--heading -->
   <head>
      <title> Template_13</title>
      <meta charset="UTF-8">
      <meta name="description" content="CSS TEMPLATE">
      <meta name="keywords" content="TEMPLATE,TEMPLATE DESIGN,DESIGN">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=2.0">
      <link rel="stylesheet" href="http://localhost:88/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/external.css">
   </head>
   <!--body-->
   <body>
   <!-- overall content div-->
      <div class="body_div">
      <!--image header -->
         <header>
            <h1> Enter Site Title </h1>
            <p>Enter Site Slogan</p>
         </header>
         <!--nav-->
         <nav >
            <a class="nav_a" href="#">Home</a> 
            <a class="nav_a" href="#">Contact</a> 
            <a class="nav_a" href="#">New Page</a> 
            <a class="nav_a" href="#">New Page-2</a>
            <a class="nav_a" href="#">New Page-3</a>
            <a class="nav_a" href="#">New Page-4</a>
            <a class="nav_a_lastchild" href="#">About-Us</a>
         </nav>
         <!-- clear content-->
         <div class="clear"></div>
         <!--section  to align content-->
     
         <!--content div to give contnent-->
         <div class="content_div">
         <!-- aside to aside the content-->
        
         <!--aside contnent div-->
            <div class="side_div">
            <!-- aside div section-1 for main-menu-->
         
               <h2  class="mainmenu_heading">
               <!-- image at main menu in aside div section--> 
                  <img class="star_image " src="assets/images/star.png"  alt="star" >Main Menu
               </h2>
               <!--main menu div-->
               <div class="main_menu" >
                  <ul>
                     <li class="lia" ><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" >Menu Item-1</a> </li>
                     <li  class="lia" ><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" >Menu Item-2</a> </li>
                     <li class="lia"  ><i   id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#"  class="ula">Menu Item-3</a> </li>
                     <li class="lia"  ><i  id="a1"class="fas fa fa-caret-right" aria-hidden="true"></i><i id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" >Menu Item-4</a> </li>
                     <li class="lia"  ><i  id="a1"  class="fas fa fa-caret-right" aria-hidden="true"></i><i id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" style="">Menu Item-5</a> </li>
                     <li class="lia"  ><i id="a1"  class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#"  class="ula" >Menu Item-6</a> </li>
                     <li class="lia" ><i id="a1"  class="fas fa fa-caret-right" aria-hidden="true"></i><i id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#"  class="ula" >Menu Item-7</a> </li>
                     <li class="lia" ><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1"  class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" >Menu Item-8</a> </li>
                     <li class="lia" ><i  id="a1"  class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula" >Menu Item-9</a> </li>
                     <li class="lia" ><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><i  id="a1" class="fas fa fa-caret-right" aria-hidden="true"></i><a href="#" class="ula"  >Menu Item-10</a> </li>
                  </ul>
               </div>
               
               <!--aside section contact div-->
             
               <h2  class="contact_heading">
                  <img  class="star_image" src="assets/images/star.png"  alt="star" style="">Contact
               </h2>
               <div class="contacts">
                  <p class="contacts_p">
                     luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                  </p>
               </div>
            </div>
           
            
            <!-- section box shadow content div-->
         
            <div  class="box_shadowcontent">
            <!--section box shadow content div-paragraph1-->
               <div class="paragraph_div1">
                  <h2 class="content_heading" >Introduction</h2>
                  <p class="paragraph1" >
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
                  </p>
               </div>
               
              
               <hr>
             
               <!-- section box shadow conten section-2 div to float two section content--> 
               <div class="paragraph_div2">
               <!--floated section div -->
                  <div class="paragraph_div3">
                     <h4 class="content_heading" >Insurance</h4>
                     <p class="paragraph2" >
                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ant
                     </p>
                  </div>
                
                  <!--floated section-2 div-->
               
                  <h4  class="content_heading">Categories</h4>
                  <p class="paragraph3" >
                     Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ant
                  </p>
                  <br>
                 
                  <!--section for button div-->
                 
                  <div class="button_div">
                     <a href="#" class="button_div_a1" >More</a>
                     <a href="#"  class="button_div_a2" >More</a>
                  </div>
                 
               </div>
            </div>
      
            <!--footer section div  to run footer content-->
          
            <footer>
               <div class="footer_div">
                  <p class="footer_p" >copyright &copy 2014.designed by <a class="footer_a" href="#">
                     html templates</a>
                  </p>
               </div>
            </footer>
         
         </div>
       
      </div>
   </body>
</html>